[submodule "ECommons"]
	path = ECommons
	url = https://github.com/NightmareXIV/ECommons.git
[submodule "FFXIVClientStructs"]
	path = FFXIVClientStructs
	url = https://github.com/awgil/FFXIVClientStructs.git
	branch = mji_workshop_favors
